
<section class="page-title overlay" style="background-image: url(assets/images/background/page-title.html);">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-dark font-weight-bold" style="color: black;">About Us</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/" style="color: black;">Home</a>
                </li>
                <li style="color: black;">About Us</li>
            </ol>
        </div>
    </div>
</div>
</section>

<!-- philosophy -->
<section class="section">
<div class="container">
    <div class="row">
        <div class="col-lg-7 order-2 order-lg-1">
            <h5 class="section-title-sm">Know About</h5>
            <h2 class="section-title section-title-border-half">Our Company</h2>
            <p>Welcome to 24x7 kolkata customercare helpline.            
There is something about our company that everyone needs to know,Our company is a service center located in Kolkata and various places in West Bengal.We have been working very quickly and accurately for almost 17 years. Our clients have not been dissatisfied with our company yet.</p>
<p>Some of the devices we work with are explained below.</p>
<ul class="d-inline-block pl-0 float-sm-left mr-sm-5">
           <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Air Conditioner</li>
           <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Refrigerator</li>
           <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Washing Machine</li>
           <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Microwave Oven</li>
           <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Geyser</li>
</ul>
<a  routerLink="/contact" class="btn btn-primary mt-4">Get a Quote</a>
</div>
        <!-- philosophy image -->
        <div class="col-lg-5 align-self-center order-1 order-lg-2 mb-md-50">
            <img class="img-fluid w-100" src="assets/images/about/philosophy.jpg" alt="philosophy-image">
        </div>
    </div>
</div>
</section>
<!-- /philosophy -->