

<section class="page-title overlay" style="background-image: url(assets/images/background/page-title11.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white font-weight-bold">Geyser</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>Geyser</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- philosophy -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <aside class="col-lg-4">
                <!-- team member info -->
                <div class="bg-gray rounded ">
                    <img class="img-fluid w-100 rounded-top" src="assets/images/service/geyser1.jpg" alt="team member">
                    
                </div>
            </aside>
            <!-- /sidebar -->

            <!-- team member details -->
            <div class="col-lg-8">
                <div>
                    <h2>Geyser Repairing</h2>
                    <h6 class="text-primary mb-30">We Work on All liding brand</h6>
                    <p class="mb-40">Geyser is an appliance that needs regular maintenance and if not maintained regularly then could be faulty and preventing you from getting hot water and having a bath in winter with cold water tougher than you think so, you need a reliable and trustable geyser repair service provider at the time when you really need it and luckily you have reached our site the best geyser service provider and now you are all set to get in touch with us just give us a call on our helpline and relax our experts will do the rest.
                    If you are looking for a good technician for geyser repairing so please do not hesitate to contact us on this website or contact us on: <b>1800-1233-799</b>. Here is the right price and genuine parts are offered , and all the work is done on Same day within the client's timeframe.
                    Most of us do not realize the geyser is going bad until we receive nothing but cold water out of the tap. Unfortunately, with regular use, the appliances wear out, and you have to purchase new ones. But you don't need to run out and replace it right away, and it could just require some maintenance.</p>
                    <div class="row">
                        <!-- contact info -->
                        <div class="col-md-6">
                            <h4>Contact Information</h4>
                            <ul class="pl-0 mb-40">
                                <li class="font-secondary text-color my-3">
                                    <i class="mr-3 ti-mobile"></i>1800-1233-799
                                </li>
                                <li class="font-secondary text-color my-3">
                                    <i class="mr-3 ti-email"></i>24x7kolkatacustomercare@gmail.com</li>
                                
                            </ul>
                        </div>
                        
                        <!-- social icon -->
                        
                    </div>
                  
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>
<!-- /philosophy -->
<section class="bg-gray section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="section-title">Our Other Services</h2>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="/ac">
                        <img class="card-img-top" src="assets/images/service/service-1.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title"> Air conditioner  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/ac" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="/washing-">
                        <img class="card-img-top" src="assets/images/service/service-3.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title">Washing Machine  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/washing" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="/microwave">
                        <img class="card-img-top" src="assets/images/service/service-4.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title">Microwave Oven  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/microwave" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
