<div class="search-form">
    <a href="#" class="close" id="searchClose">
        <i class="ti-close"></i>
    </a>
    <div class="container">
        <form action="#" class="row">
            <div class="col-lg-10 mx-auto">
                <h3>Search Here</h3>
                <div class="input-wrapper">
                    <input type="text" class="form-control" name="search" id="search" placeholder="Enter Keywords..." required>
                    <button>
                        <i class="ti-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- /navigation --> 


<section>
    <div class="hero-slider position-relative">
        <div class="hero-slider-item py-160" style="background-image: url(assets/images/banner/banner-1.jpg);" data-icon="ti-settings" data-text="Air Conditioner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            <!--<h4 class="text-uppercase mb-1" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".1">We are here to</h4>-->
                            <h1 class="font-weight-bold mb-3" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".5">Air Conditioners</h1>
                            <p class="text-dark mb-50" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".9">Ac is a necessary device so we are very careful if any customer is dissatisfied or not,<br>
 so we provide service very quickly.
                            </p>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="ac.html" class="btn btn-outline text-uppercase">more details</a>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="contact.html" class="btn btn-primary text-uppercase">get a quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider-item py-160" style="background-image: url(assets/images/banner/banner-2.jpg);" data-icon="ti-settings" data-text="Refrigerator">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            
                            <h1 class="font-weight-bold mb-3" data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".5">Refrigerator </h1>
                            <p class="text-dark mb-50" data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".9">If your refrigerator is not getting cold and there is any other problem please <br>
contact us We are very quick service
                            </p>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="refrigerator.html" class="btn btn-outline text-uppercase">more details</a>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="contact.html" class="btn btn-primary text-uppercase">get a quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider-item py-160" style="background-image: url(assets/images/banner/banner-3.jpg);" data-icon="ti-settings" data-text="Washing Machine">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            
                            <h1 class="font-weight-bold mb-3" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".5">Washing Machinen</h1>
                            <p class="text-dark mb-50" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".9">If your washing machine is bad, contact us because the washing machine is a <br>very essential device for all people so contact us without delay.We provide service very fast
                            </p>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="washing-machine.html" class="btn btn-outline text-uppercase">more details</a>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="contact.html" class="btn btn-primary text-uppercase">get a quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider-item py-160" style="background-image: url(assets/images/banner/banner-4.jpg);" data-icon="ti-settings" data-text="Microwave Oven">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                          
                            <h1 class="font-weight-bold mb-3" data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".5">Microwave</h1>
                            <p class="text-dark mb-50" data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".9">If the cold food in the microwave warms up very quickly, <br>it is very important for people to have a microwave if your device is bad, please contact us.
                            </p>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="microwave-oven.html" class="btn btn-outline text-uppercase">more details</a>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="contact.html" class="btn btn-primary text-uppercase">get a quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- service -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Best Service</h5>
                <h2 class="section-title section-title-border">Service We Provide</h2>
            </div>
            <!-- service item -->
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                <div class="card text-center">
                    <h4 class="card-title pt-3">AIR CONDITIONERS <br/><small>REPAIR AND SERVICES</small></h4>
                    <div class="card-img-wrapper">
                        <img class="card-img-top rounded-0" src="assets/images/service/service-1.jpg" alt="service-image">
                    </div>
                    <div class="card-body p-0">
                        <i class="square-icon translateY-33 rounded ti-settings"></i>
                        <p class="card-text mx-2 mb-0">Repair / Service / Installation / Uninstall / Gas Refill</p>
                        <a href="#" class="btn btn-secondary translateY-25">Read More</a>
                    </div>
                </div>
            </div>
            <!-- service item -->
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                <div class="card text-center">
                    <h4 class="card-title pt-3">REFRIGERATOR <br/><small>REPAIR AND SERVICES</small></h4>
                    <div class="card-img-wrapper">
                        <img class="card-img-top rounded-0" src="assets/images/service/service-2.jpg" alt="service-image">
                    </div>
                    <div class="card-body p-0">
                        <i class="square-icon translateY-33 rounded ti-settings"></i>
                        <p class="card-text mx-2 mb-0">Repair / Service / Installation <br> &nbsp;</p>
                        <a href="#" class="btn btn-secondary translateY-25">Read More</a>
                    </div>
                </div>
            </div>
            <!-- service item -->
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title pt-3">WASHING MACHINE <br/><small>REPAIR AND SERVICES</small></h4>
                    <div class="card-img-wrapper">
                        <img class="card-img-top rounded-0" src="assets/images/service/service-3.jpg" alt="service-image">
                    </div>
                    <div class="card-body p-0">
                        <i class="square-icon translateY-33 rounded ti-settings"></i>
                        <p class="card-text mx-2 mb-0">Repair / Service / Installation <br> &nbsp;</p>
                        <a href="#" class="btn btn-secondary translateY-25">Read More</a>
                    </div>
                </div>
            </div>
            <!-- service item -->
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title pt-3">MICROWAVE OVEN <br/><small>REPAIR AND SERVICES</small></h4>
                    <div class="card-img-wrapper">
                        <img class="card-img-top rounded-0" src="assets/images/service/service-4.jpg" alt="service-image">
                    </div>
                    <div class="card-body p-0">
                        <i class="square-icon translateY-33 rounded ti-settings"></i>
                        <p class="card-text mx-2 mb-0">Repair / Service <br> &nbsp;</p>
                        <a href="#" class="btn btn-secondary translateY-25">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        
        <br/>
        <br/>
        <div class="container">
            <div class="col-lg-12 text-center">
                <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" routerLink="/contact" class="btn btn-primary text-uppercase">get a quote</a>
            </div>
        </div>
    </div>
</section>
<section class="about section-sm overlay" style="background-image: url(assets/images/background/about-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <div class="rounded p-sm-5 px-3 py-5 bg-secondary">
                    <h3 class="section-title section-title-border-half text-white">Who We Are?</h3>
                    <p class="text-white mb-40">There is something about our company that everyone needs to know,Our company is a service center located in Kolkata and various places in West Bengal.We have been working very quickly and accurately for almost 17 years. Our clients have not been dissatisfied with our company yet.The following are some of the places where our company operates.</p>
                    <div>
                        <ul class="d-inline-block pl-0">
                            <li class="font-secondary mb-10 text-white float-sm-left mr-sm-5">
                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>North Kolkata</li>
                            <li class="font-secondary mb-10 text-white">
                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>South Kolkata</li>

                        </ul>
                        <ul class="d-inline-block pl-0">
                            <li class="font-secondary mb-10 text-white float-sm-left mr-sm-5">
                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>Hooghly</li>
                            <li class="font-secondary mb-10 text-white">
                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>Howrah</li>

                        </ul>
                         <ul class="d-inline-block pl-0">
                            <li class="font-secondary mb-10 text-white">
                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>Medinipur</li>
                            <li class="font-secondary mb-10 text-white">
                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>Nadia</li>
                        </ul>
                        
                    </div>
                    <a routerLink="/about" class="btn btn-primary mt-4">Explore More</a>
                    <a routerLink="/contact" class="btn btn-primary mt-4">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- skill -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="section-title-sm">Best Service</h5>
                <h2 class="section-title section-title-border-half">Why Choose Us</h2>
            </div>
            <div class="col-lg-7">
               <h5>The following are some of the spare jute warranties that are offered.</h5>
              
              <ul class="d-inline-block pl-0 float-sm-left mr-sm-5">
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> All parts are genuine and offered at a low price</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> All parts are provided with warranty</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Air conditioner compressor warranty 12 month</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Refrigerator compressor warranty 12 month</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Air Conditioner gas Warranty 3 month</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i>  Refrigerator gas warranty 3 month</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Microwave all parts 3 month warranty</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Washing machine all parts 3 month warranty</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Our company has a warranty of gas charge for air conditioning and refrigerator</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Conditioner Gas Warranty 3 Month</li>
                <li class="font-secondary mb-10"><i class="text-primary mr-2 ti-arrow-circle-right"></i> Refrigerator Gas Charge Warranty 3 Month</li>
              </ul>
            </div>
            <!-- progressbar -->
            <div class="col-lg-4 offset-lg-1">
                <div class="progressbar">
                    <h5 class="progressbar-title">FRIENDLY AS CAN BE</h5>
                    <div class="progress" data-percent="85%">
                        <div class="progress-bar progress-bar-striped" style="width: 85%;">
                            <div class="progress-bar-value">85%</div>
                        </div>
                    </div>
                </div>
                <div class="progressbar">
                    <h5 class="progressbar-title">VERY FAIR PRICE</h5>
                    <div class="progress" data-percent="90%">
                        <div class="progress-bar progress-bar-striped" style="width: 90%;">
                            <div class="progress-bar-value">90%</div>
                        </div>
                    </div>
                </div>
                <div class="progressbar">
                    <h5 class="progressbar-title">QUICK TURNAROUND</h5>
                    <div class="progress" data-percent="75%">
                        <div class="progress-bar progress-bar-striped" style="width: 75%;">
                            <div class="progress-bar-value">75%</div>
                        </div>
                    </div>
                </div>
                <div class="progressbar">
                    <h5 class="progressbar-title">HIGH QUALITY</h5>
                    <div class="progress" data-percent="90%">
                        <div class="progress-bar progress-bar-striped" style="width: 90%;">
                            <div class="progress-bar-value">90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12 text-center">
                <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" routerLink="/contact" class="btn btn-primary text-uppercase">get a quote</a>
            </div>
        </div>
    </div>
</section>
<!-- /skill -->



<!-- promo-video -->
<section class="promo-video overlay section" style="background-image: url(assets/images/background/promo-video.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white mb-20 font-weight-normal">We Are Alawys <br> Comited</h1>
                <div class="d-flex">
                    <a class="popup-youtube play-icon mr-4" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                        <i class="ti-control-play"></i>
                    </a>
                    <p class="text-white align-self-center h4">Lorem ipsum dolor <br> sit amet con.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /promo-video -->

<!-- testimonial -->
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Clients</h5>
                <h2 class="section-title section-title-border"> What client Say </h2>
            </div>
            <div class="col-lg-5 col-md-5 pr-0 align-self-center">
                <img class="img-fluid w-100" src="assets/images/client.png" alt="clients-image">
            </div>
            <div class="col-lg-7 col-md-7 align-self-center pl-0">
                <div class="testimonial-slider p-5">
                    <!-- slider item -->
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">I am really surprised that I am very pleased with the company's rules of operation and the experience of working in machine tools.</p>
                        <h4 class="font-weight-normal">Ujjal Dhor</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    <!-- slider item -->
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">The heating problem in my microwave oven is now fully resolved and I am very happy with it at a very small cost.</p>
                        <h4 class="font-weight-normal">Arnab Roy</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    <!-- slider item -->
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">Since I had no ice in my refrigerator, I was very worried that after contacting this company, the technician who came in at the given time gave me an easy solution.I am very happy.</p>
                        <h4 class="font-weight-normal">Rupak Biswas</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">My washing machine was loud and not smelling but now my washing machine is working perfectly without any noise.</p>
                        <h4 class="font-weight-normal">Kallal Busu</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /testimonial --> 

<section class="cta overlay-primary py-50 text-center text-lg-left" style="background-image: url(assets/images/background/cta.jpg);">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h3 class="text-white">We are always happy to help you. Please give a Quote</h3>
                </div>
                <div class="col-lg-6 text-lg-right align-self-center">
                    <a routerLink="/contact" class="btn btn-light">GET A QUOTE</a>
                </div>
            </div>
        </div>
</section>