
<section class="page-title overlay" style="background-image: url(assets/images/background/page-title.html);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-dark font-weight-bold" style="color: black;">Microwave Oven  </h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/" style="color: black;">Home</a>
                    </li>
                    <li style="color: black;">Microwave Oven</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- philosophy -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <aside class="col-lg-4">
                <!-- team member info -->
                <div class="bg-gray rounded ">
                    <img class="img-fluid w-100 rounded-top" src="assets/images/service/microwave-page.jpg" alt="team member">
                    
                </div>
            </aside>
            <!-- /sidebar -->

            <!-- team member details -->
            <div class="col-lg-8">
                <div>
                    <h2>Microwave Oven</h2>
                    <h6 class="text-primary mb-30">We Work on All liding brands</h6>
                    <p class="mb-40">Are you looking for an Expert Technician to repair a microwave in Kolkata? For many years, I have been providing microwave services in Kolkata and many cities. Microwave is a device that is often used in all homes,
The microwave is a device that is able to produce dishes very quickly, as such there are certain foods we cannot make without microwave. There are some people in our society whose time is very important, so microwave is a very important tool for them, this microwave helps us to heat any food very easily and quickly So the microwave is very important in people's lives.</p>
<p>You are cooking in the microwave , suddenly your microwave is bad. Do you not understand what to do? No worries, we have a microwave removal experience and experienced technician.</p>
<p>So if you do not think anything else, please come to our website and contact us at the number given on our website and tell us at our service center that you are having problems with your microwave, our service center is always there to help.We are offered a very low cost and genuine spare parts here and all spare parts have a warranty,without the attendance charge you will be refunded if extra money is taken from you for any parts replacement or repair, if your machine does not fit your machine.Our company has all spare parts in the microwave so we can serve all clients very quickly.So without thinking of anything else, come to our website immediately and connect to the number given on our website. website: (24x7kolkatacustomercarehelpline.com).Contact Number : 7001080834
</p>
                    <div class="row">
                        <!-- contact info -->
                        <div class="col-md-6">
                            <h4>Contact Information</h4>
                            <ul class="pl-0 mb-40">
                                <li class="font-secondary text-color my-3">
                                    <i class="mr-3 ti-mobile"></i>1800-1233-799
                                </li>
                                <li class="font-secondary text-color my-3">
                                    <i class="mr-3 ti-email"></i>24x7kolkatacustomercare@gmail.com</li>
                                
                            </ul>
                        </div>
                        
                        <!-- social icon -->
                        
                    </div>
                  
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>
<!-- /philosophy -->
<section class="bg-gray section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="section-title">Our Other Services</h2>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="/refrigerator">
                        <img class="card-img-top" src="assets/images/service/service-1.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title"> Air conditioner  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/ac" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="/washing">
                        <img class="card-img-top" src="assets/images/service/service-3.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title">Washing Machine  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/washing" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="/refrigerator">
                        <img class="card-img-top" src="assets/images/service/service-2.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title">Refrigerator  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/refrigerator" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
