
<section class="page-title overlay" style="background-image: url(assets/images/background/page-title.html);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-dark font-weight-bold" style="color: black;">Special Offer</h1>
               
            </div>
        </div>
    </div>
</section>

<section class="cta overlay-primary py-50 text-center text-lg-left" style="background-image: url(assets/images/background/cta.jpg);">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h3 class="text-white">We are always happy to help you. Please give a Quote</h3>
                </div>
                <div class="col-lg-6 text-lg-right align-self-center">
                    <a routerLink="/contact"  class="btn btn-light">GET A QUOTE</a>
                </div>
            </div>
        </div>
</section>




<section class="about section-sm overlay" style="background-image: url(assets/images/air1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <div class="rounded p-sm-5 px-3 py-5 bg-secondary" style = " background-color: white!important">
                    <h3 class="section-title section-title-border-half text-black">Air Conditioner</h3>
                    <p class="mb-40">Are you looking for AC Repair in Kolkata? AC is a very essential tool during the summer and AC makes people very comfortable in the summer so if you face any problem with AC in your house, please contact with us for the best service. We have experience technician working with for many years, Experienced working with professionals and different brands Work is done with an Engineer. We also make sure that AC repair and service is done on a timely basis by our clients completing the tasks we have handled accurately and in a timely manner.</p>
                    
                    <div>
                        
                    </div>
                    <a routerLink="/ac" class="btn btn-primary mt-4">Explore More</a>
                    <a routerLink="/contact" class="btn btn-primary mt-4">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about section-sm overlay" style="background-image: url(assets/images/banner/banner-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-align-left">
                <div class="rounded p-sm-5 px-3 py-5 bg-secondary" style = " background-color: white!important">
                    <h3 class="section-title section-title-border-half text-black">Refrigerator</h3>
                      <p class="mb-40">If you are looking for a good technician for refrigerator repairing So please do not hesitate to contact us on this website (24x7kolkatacustomercarehelpline.com).Contact Number : 7001080834  . Here is the right price and genuine parts are offered , and all the work is done on Same day within the client's timeframe.</p>
                    
                    <div>
                        
                    </div>
                    <a  routerLink="/refrigerator" class="btn btn-primary mt-4">Explore More</a>
                    <a routerLink="/contact" class="btn btn-primary mt-4">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about section-sm overlay" style="background-image: url(assets/images/washing.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <div class="rounded p-sm-5 px-3 py-5 bg-secondary" style = " background-color: white!important">
                    <h3 class="section-title section-title-border-half text-black">Washing Machine</h3>
                    <p class="mb-40">3. Are you looking for a good Experience Engineer for washing machines? Then why late? Please contact us on this website. Because this company has been operating in Kolkata Howrah Hooghly and West Bengal for many years, all clients have confidence and trust in this company and we supply all spare parts for washing machines at genuine and reasonable prices. Washing machine is a very essential device Because it has reduced the working time of people And no one has reduced their suffering. We give warranty of all spare parts of the washing machine, If your device doesn't work properly, you'll get your money back.</p>
                    <p>So without wasting your valuable time, you should immediately contact us at the number given on this website The service center is here to help.</p>
                    
                    <div>
                        
                    </div>
                    <a routerLink="/washing" class="btn btn-primary mt-4">Explore More</a>
                    <a routerLink="/contact" class="btn btn-primary mt-4">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about section-sm overlay" style="background-image: url(assets/images/micro.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-align-left">
                <div class="rounded p-sm-5 px-3 py-5 bg-secondary" style = " background-color: white!important">
                    <h3 class="section-title section-title-border-half text-black">Microwave Oven</h3>
                    <p class="mb-40">Are you looking for an Expert Technician to repair a microwave in Kolkata? For many years, I have been providing microwave services in Kolkata and many cities. Microwave is a device that is often used in all homes,
The microwave is a device that is able to produce dishes very quickly, as such there are certain foods we cannot make without microwave. There are some people in our society whose time is very important, so microwave is a very important tool for them, this microwave helps us to heat any food very easily and quickly So the microwave is very important in people's lives.</p>
                    
                    <div>
                        
                    </div>
                    <a  routerLink="/microwave" class="btn btn-primary mt-4">Explore More</a>
                    <a routerLink="/contact" class="btn btn-primary mt-4">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- skill -->

<!-- /skill -->



<!-- promo-video -->
<section class="promo-video overlay section" style="background-image: url(images/background/promo-video.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white mb-20 font-weight-normal">We Are Alawys <br> Comited</h1>
                <div class="d-flex">
                    <a class="popup-youtube play-icon mr-4" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                        <i class="ti-control-play"></i>
                    </a>
                    <p class="text-white align-self-center h4">Lorem ipsum dolor <br> sit amet con.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /promo-video -->

<!-- testimonial -->
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Clients</h5>
                <h2 class="section-title section-title-border"> What client Say </h2>
            </div>
            <div class="col-lg-5 col-md-5 pr-0 align-self-center">
                <img class="img-fluid w-100" src="assets/images/client.png" alt="clients-image">
            </div>
            <div class="col-lg-7 col-md-7 align-self-center pl-0">
                <div class="testimonial-slider p-5">
                    <!-- slider item -->
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">I am really surprised that I am very pleased with the company's rules of operation and the experience of working in machine tools.</p>
                        <h4 class="font-weight-normal">Ujjal Dhor</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    <!-- slider item -->
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">The heating problem in my microwave oven is now fully resolved and I am very happy with it at a very small cost.</p>
                        <h4 class="font-weight-normal">Arnab Roy</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    <!-- slider item -->
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">Since I had no ice in my refrigerator, I was very worried that after contacting this company, the technician who came in at the given time gave me an easy solution.I am very happy.</p>
                        <h4 class="font-weight-normal">Rupak Biswas</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">My washing machine was loud and not smelling but now my washing machine is working perfectly without any noise.</p>
                        <h4 class="font-weight-normal">Kallal Busu</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /testimonial --> 

<section class="cta overlay-primary py-50 text-center text-lg-left" style="background-image: url(assets/images/background/cta.jpg);">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h3 class="text-white">We are always happy to help you. Please give a Quote</h3>
                </div>
                <div class="col-lg-6 text-lg-right align-self-center">
                    <a  routerLink="/contact" class="btn btn-light">GET A QUOTE</a>
                </div>
            </div>
        </div>
</section>
