<section class="page-title overlay" style="background-image: url(images/background/page-title.html);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-dark font-weight-bold" style="color: black;">Air conditioner</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/" style="color: black;">Home</a>
                    </li>
                    <li style="color: black;" > Air conditioner</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- philosophy -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <aside class="col-lg-4">
                <!-- team member info -->
                <div class="bg-gray rounded">
                    <img class="img-fluid w-100 rounded-top" src="assets/images/service/ac-page.jpg" alt="team member">
                    
                </div>
            </aside>
            <!-- /sidebar -->

            <!-- team member details -->
            <div class="col-lg-8">
                <div>
                    <h2>Air conditioner</h2>
                    <h6 class="text-primary mb-30">We Work on All liding brands</h6>
                    <p class="mb-40">Are you looking for AC Repair in Kolkata? AC is a very essential tool during the summer and AC makes people very comfortable in the summer so if you face any problem with AC in your house, please contact with us for the best service. We have experience technician working with for many years, Experienced working with professionals and different brands Work is done with an Engineer. We also make sure that AC repair and service is done on a timely basis by our clients completing the tasks we have handled accurately and in a timely manner.</p>

                    <div class="row">
                        <!-- contact info -->
                        <div class="col-md-6">
                            <h4>Contact Information</h4>
                            <ul class="pl-0 mb-40">
                                <li class="font-secondary text-color my-3">
                                    <i class="mr-3 ti-mobile"></i>1800-1233-799
                                </li>
                                <li class="font-secondary text-color my-3">
                                    <i class="mr-3 ti-email"></i>24x7kolkatacustomercare@gmail.com</li>
                                
                            </ul>
                            <a routerLink="/contact" class="btn btn-primary mt-4">Get a Quote</a>
                        </div>


                        
                        <!-- social icon -->
                        
                    </div>
                  
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>
<!-- /philosophy -->
<section class="bg-gray section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="section-title">Our Other Services</h2>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="refrigerator">
                        <img class="card-img-top" src="assets/images/service/service-2.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title">Refrigerator  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/refrigerator" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="washing">
                        <img class="card-img-top" src="assets/images/service/service-3.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title">Washing Machine  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/washing" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <a routerLink="microwave">
                        <img class="card-img-top" src="assets/images/service/service-4.jpg" alt="team-member">
                    </a>
                    <div class="card-body card-body-2 pb-0 px-4">
                        <h3 class="card-title">Microwave Oven  </h3>
                        <h6 class="text-color mb-30">Services</h6>
                        <ul class="list-inline border-top d-inline-block">
                            <li class="list-inline-item">
                                 <a routerLink="/microwave" class="nav-link btn btn-primary btn-sm d-inline-block m-3">
                                    Learn More
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

